$heading-color: #01386e;
$text-color: #666;
$text-color2: #333333;
$primary-color: #fea71a;
$secondary-color: #706ad4;
$content-color: #f8f8fe;
$section-color: #f7f8fc;
$border-color: #212529;
$footer-color1: #1b1b1b;
$footer-color2: #727272;
$footer-color3: #323232;
$footer-color4: #252525;

$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) !important;
